.button {
  background-color: transparent;
  border-color: #00f7d6;
  color: #00d1b5;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #00ffdd;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #000000;
}
