.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: rgb(245, 161, 35);
}

.list a:hover,
.list a.active {
  color: rgb(186, 82, 13);
  text-decoration: underline;
}
